
<ion-header>
  <ion-navbar>
    <ion-title>
      Activity
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      <span class="primary">Currently Watching</span>
    </ion-list-header>
    
    <ion-item text-wrap *ngFor="let current of currentResults">
      <ion-avatar item-start>
        <img src="./assets/images/{{ current.User.title }}.jpg">
      </ion-avatar>
      <h2><span *ngIf="current.type == 'episode'">{{ current.grandparentTitle }} - </span>{{ current.title }}</h2>
      <p>{{ current.User.title }} - {{ current.Player.device }}</p>
    </ion-item>
    
    <ion-list-header>
        <span class="primary">Previously Watched</span>
    </ion-list-header>
    
    <ion-item text-wrap *ngFor="let previous of previousResults" (click)="navigateTo(previous.TYPE, previous.USER_ID, previous.MEDIA_CONTENT, previous.SHOW_TITLE, previous.SEASON, previous.EPISODE_NUM)">
      <ion-avatar item-start>
        <img src="./assets/images/{{ previous.USER_ID }}.jpg">
      </ion-avatar>
      <h2>{{ previous.MEDIA_CONTENT }}</h2>
      <p>{{ previous.USER_ID }} - {{ previous.TIMESTAMP | dateFormat | date:'MM/dd/yyyy hh:mma' : 'UTC' }}</p>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <button ion-button full color="primary" (click)="loadMore();">Load more...</button>

</ion-content>
