
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="./assets/images/{{name}}.jpg">
      </ion-avatar>
      <h2>{{dtls}}</h2>
    </ion-item>
  </ion-list>

  <ion-grid class="omdb-rating">
    <ion-row>
      <ion-col col-12>{{genre}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>{{plot}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="omdbRatings[0] != undefined">
    <ion-row>
      <ion-col col-5 (click)="goToImdb()">
        <img src="./assets/images/imdb.png" alt="" class="imdb rating-icon">
        <span class="omdb-rating imdb">{{omdbRatings[0]}}</span>
      </ion-col>
      <ion-col col-5 *ngIf="omdbRatings[1] != undefined">
        <img src="./assets/images/rottentomatoes.png" alt="" class="rating-icon">
        <span class="omdb-rating">{{omdbRatings[1]}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <span class="primary">{{stars == undefined ? "Not yet rated. Tap to rate." : "Rated " + stars + " out of 10"}}</span>
        <star-rating-comp [starType]="'svg'" 
          [hoverEnabled]="true" 
          (onClick)="updateRating($event, false)" 
          (onRatingChange)="onRatingChange($event)" 
          (onHoverRatingChange)="onHoverRatingChange($event)" 
          [numOfStars]="10"
          [size]="'large'"
          [rating]="stars">
        </star-rating-comp>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-label>Review</ion-label>
      <ion-textarea [(ngModel)]="review.content" name="description">{{usercomments}}</ion-textarea>
    </ion-item>
    <button ion-button full color="primary" (click)="updateRating($event, true)"><ion-icon name="text"></ion-icon>Submit</button>
  </ion-list>

</ion-content>
